<div data-controller="main-map" data-action="google-maps-callback@window->main-map#initializeMap">
    <input type="hidden" name=:json_markers data-target="main-map.jsonMarkers" value='<%= @json_markers %>' />
    <input type="hidden" name=:current_url data-target="main-map.currentUrl" value='<%= posts_path %>' />
    <input type="hidden" name=:east data-target="main-map.east" value='<%= @east %>' />
    <input type="hidden" name=:north data-target="main-map.north" value='<%= @north %>' />
    <input type="hidden" name=:south data-target="main-map.south" value='<%= @south %>' />
    <input type="hidden" name=:west data-target="main-map.west" value='<%= @west %>' />
    <input type="hidden" name=:lat data-target="main-map.lat" value='<%= @lat %>' />
    <input type="hidden" name=:lng data-target="main-map.lng" value='<%= @lng %>' />

    <div class="container-fluid">
        <div class="row">
            <div class="col-1 col-sm-2"></div>
            <div class="input-group mb-3 col-10 col-sm-8 mt-3">
                <input type="search" name="" class="form-control" value='<%= @address %>' placeholder="Input area" data-target="main-map.field" data-action="keydown->main-map#preventSubmit">
                <div class="input-group-append">
                    <button class="btn btn-success" type="button" data-action="click->main-map#reloadMap">Search</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 px-0">
        <%= content_tag :div, nil, data: { target: "main-map.map" }, class: "main-map mb-1" %>
    </div>
</div>

<div class="container mt-2 mb-5">
    <h2 class="text-center" id="search-area">All Area</h2>
    <% if @posts.length == 0%>
        <h5>No result</h5>
    <% end %>

    <%= render 'partials/posts', posts: @posts %>
</div>


