<div data-controller="main-map" data-action="google-maps-callback@window->main-map#initializeMap"
    json-markers='<%= @json_markers %>'
    current-url='<%= posts_path %>'
    north='<%= @north %>'
    east='<%= @east %>'
    south='<%= @south %>'
    west='<%= @west %>'
    lat='<%= @lat %>'
    lng='<%= @lng %>'
>
    <div class="container-fluid">
        <div class="row">
            <div class="col-1 col-sm-2"></div>
            <div class="input-group mb-3 col-10 col-sm-8 mt-3">
                <input type="search" name="" class="form-control" value='<%= @address %>' placeholder="Input area" data-target="main-map.field" data-action="keydown->main-map#preventSubmit">
                <div class="input-group-append">
                    <button class="btn btn-success" type="button" data-action="click->main-map#reloadMap">Search</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 px-0">
        <%= content_tag :div, nil, data: { target: "main-map.map" }, class: "main-map mb-1" %>
    </div>
</div>

<div class="container mt-2 mb-5">
    <h2 class="text-center" id="search-area">All Areas</h2>
    <h5 id="no-result">No result</h5>
    <%= render 'partials/posts', posts: @posts, origin: @origin %>
</div>


