<div class="container">
    <% @posts.each do |post| %>
        <div class="card">
            <h5 class="card-header">Featured</h5>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go detail</a>
            </div>
        </div>
    <% end %>
</div>


<h1>Posts</h1>



<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Address</th>
            <th>Open date</th>
            <th>Close date</th>
            <th>User</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @posts.each do |post| %>
            <tr>
                <td><%= post.title %></td>
                <td><%= post.address %></td>
                <td><%= post.open_date %></td>
                <td><%= post.close_date %></td>
                <td><%= post.user_id %></td>
                <td><%= link_to 'Show', post %></td>
                <td><%= link_to 'Edit', edit_post_path(post) %></td>
                <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
