
<div class="row" data-controller="main-map" data-action="google-maps-callback@window->main-map#initializeMap">
    <input type="hidden" name=:json_markers data-target="main-map.jsonMarkers" value=<%= @json_markers %> />

    <div class="col-12">
        <%= content_tag :div, nil, data: { target: "main-map.map" }, class: "main-map mb-4" %>
    </div>

    <div class="col-2"></div>
    <div class="input-group mb-3 col col-8 align-self-center">
        <input type="search" name="" class="form-control" placeholder="Input region" data-target="main-map.field" data-action="keydown->main-map#preventSubmit">
        <div class="input-group-append">
            <button class="btn btn-success" type="button" data-action="click->main-map#reloadMap">Search</button>
        </div>
    </div>
</div>

<div class="container mt-2">
    <% @posts.each do |post| %>
        <div class="card mb-3">
            <h5 class="card-header" role="button" data-toggle="collapse" href="<%= "#collapseDetail#{post.id}" %>" aria-expanded="false" aria-controls="<%= "collapseDetail#{post.id}" %>">
                <div class="row">
                    <div class="col-12 col-sm-8 col-md-9">
                        <%= post.title %>
                    </div>
                    <div class="col-12 col-sm-4 col-md-3 text-right font-weight-light" style="font-size: 0.8em">
                        <%= post.period_without_year %>
                    </div>
                </div>
            </h5>
            
            <div class="card-body collapse" id="<%= "collapseDetail#{post.id}" %>">
                <div class="card-text">
                    <div class="row row-cols-3">
                        <p class="col-12 col-sm-3 col-lg-2"><%= post.open_date.to_time.strftime("%l:%M %p") %><br />~ <%= post.close_date.to_time.strftime("%l:%M %p")%></p>
                        <div class="col-12 col-sm-9 col-lg-7">
                            <h5><%= post.address %> <%= link_to '>> Get direction', post.direction_url, class: "ml-2", target: "_blank", id: "get-dir" %> </h5>
                            <p><%= post.period_with_year %></p>
                            <div class="mt-n1 mb-1 font-weight-light" style="font-size: 0.9em"><%= post.body %></div>
                            <p style="font-size: 1.1em"><strong><%= post.user.email %></strong>
                                <% if post.phone != nil && post.phone != "" %>
                                    <i class="fas fa-phone ml-4 mr-1"></i><%= post.phone %>
                                <% end %>
                            </p>
                            <% if user_signed_in? && current_user.id == post.user.id %>
                                <div class="row">
                                    <div class="mr-auto col-auto"></div>
                                        <%= link_to 'Edit', edit_post_path(post), class:"col-auto" %>
                                    |
                                        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class:"col-auto text-danger" %>
                                </div>
                            <% end %>
                        </div>
                        <%= link_to post.place_url, class: "col-12 col-lg-3 mt-2 mb-2 mt-lg-0 mb-lg-0", target: "_blank" do %>
                            <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=20&size=800x800&center=#{post.latitude},#{post.longitude}&markers=#{post.latitude},#{post.longitude}&key=#{Rails.application.credentials.dig(:google_maps_api_key)}",
                                    class: "w-100 h-100",
                                    alt: "image of map",
                                    style: "object-fit: contain;",
                                    data: {
                                        toggle: "tooltip",
                                        placement: "top"
                                    },
                                    
                                    title: "Click for location"
                            %>
                        <% end %>
                    </div>
                    <a href="#" class="btn btn-info mt-2 col-12 col-md-2">See comments</a>
                </div>
            </div>
        </div>
    <% end %>
</div>


